@media (min-width: 481px) and (max-width: 1024px) {
.filter2{
   padding-left: 10px; 
}
.filter2 div{
    padding-right: 10px;
}
.page1, .page2{
    margin-left: 0;
}
.photo1{
    display: flex;
    position: relative;
    margin-left: -10px;
    width: 768px;
}
.ph1{
    position: absolute;
    top: 100px;
}
.ph2{
    position: absolute;
    top: 320px;
}
.ph3{
    position: absolute;
    top: 100px;
    left: 250px;
}
.ph4{
    position: absolute;
    top: 300px;
    left: 250px;
}
.ph5{
    position: absolute;
    top: 80px;
    left: 500px;
}
.ph6{
    position: absolute;
    top: 300px;
    left: 500px;
}
.lien2{
    margin-left: 230px;
}
.photo2{
    display: flex;
    position: relative;
    top: 550px;
    right: 768px;
    width: 768px;
    height: 380px;
    margin-left: 0;
}
.chart{
    margin: 0;
    position: absolute;
    left: 350px;
    top: 20px;
}
.ph7{
    position: absolute;
    left: 0px;
    top: 80px;
}
.ph8{
    position: absolute;
    left: 370px;
    top: 80px;
}
.ph9{
    position: absolute;
    left: 170px;
    top: 220px;
}
.page3{
    display: flex;
    position: relative;
    top: 490px;
    height: 900px;
    left: 80px;
    right: -80px; 
}
.lieu2{
    display: flex;
    position: absolute;
    top: -60px;
    left: -65px;
    margin: 0;
    margin-left: -8px;
    margin-top: -20px;
}
.gr3{
    display: flex;
    position: absolute;
    top: 450px;
}
.gr4{
    display: block;
    position: absolute;
    top: 450px;
    left: 320px;
}
footer{
    display: flex;
    position: absolute;
    top: 2250px;
    left: 0;
    width: 768px;
}
.propos{
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.logement{
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-left: 80px;
}
.assist{
    width: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 620px;
}
}
@media (max-width: 1024px) and (orientation:landscape) {
.photo1{
    width: 1024px;  
}
.ph5, .ph6{
    left: 740px;
}
.ph3, .ph4{
    left: 370px;
}
.lien2{
    left: 450px;
}
.photo2{
    width: 1024px;
    right: 1024px;
}
.ph8{
    left: 620px;
}.ph9{
    left: 320px;
}
.page3{
    margin-left: 120px;
}
footer{
    width: 1024px;
}
.assist{
    left: 850px;
}
.logement{
    margin-left: 200px;
}
}
@media (max-width: 740px) and (orientation: landscape){
  .ph1, .ph2{
      left: -20px;
  }
    .ph3, .ph4{
      left: 230px;
  } 
  .ph5, .ph6{
      left: 480px;
  }
  .ph7{
      left: -20px;
  }
  .ph8{
      left: 350px;
  }
  .ph9{
      left: 180px;
  }
  .page3{
      margin-left: 0px;
  }
  .logement{
      margin-left: 40px;
  }
  .assist{
      left: 580px;
  }
}