
/*header ok */
header{
	width: max-content;
}
 /*logo*/
#logo{
	max-width: 25%;
	margin-left: 20px;
 }
/*navigation ancre*/
li{
	list-style-type: none;
	float: left;
	font-weight: bold;
}
.li2{
padding-left: 40px;
}
.li3{
	margin-right: 20px;
	padding-left: 40px;
}
ul{
	position: absolute;
	right: 20px;
	top: 0;
}
li a{
	text-decoration: none;
	color: black;
}
#trois{
	color: #0065fc;
}
ul li a:hover {
	color: #0065fc;
	text-decoration-line: overline;
	text-decoration-color: #0065fc;
}
/*definition de le police*/
  @font-face{
	  font-family: 'raleway';
	  src: url(Raleway/Raleway-VariableFont_wght.ttf);
  }

  body, header, footer{
	  font-family: 'raleway', sans-serif;
  }

  /*barre de filtres */
  .page1{
	  margin-left: 20px;
  }

  .main1{
	  line-height: 10px;
  }
  
 .main3{
	display: flex;
	align-items: center;
	margin-bottom: -50px;
	margin-top: -20px;	
 }
 .filter2{
	display: flex;
	padding: 50px;
 }
 .filter2 div{
	 padding-right: 50px;
	 align-items: center;
 }
 #money{
	 border: 2px solid #f2f2f2;
	 padding: 10px;
	 border-radius: 25px 25px 25px 25px;
	 background-color: #a1c1f0;
 }
 .menu{
	display: flex;
}
.menu1{
	width: 20px;
	height: 20px;
   padding: 11px;
   border-radius: 25px;
   border-style: none;
   background-color: #a1c1f0;
   position: relative;
   margin-right: -10px;
}
.menu2{
	border-style: hidden;
	border-radius: 0px 20px 20px 0px;
	padding: 9px;
	font-weight: bold;
	text-align: end;
	color: black;
	width: 120px;
	height: 45px;
	margin: -10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
}
.menu1:hover{
	background-color: #f2f2f2;
}
.menu2:hover{
	background-color: #f2f2f2;
	box-shadow: 10px 5px 5px #4e4848;
}
.menu3{
	display: flex;
}
.menu4{
	width: 20px;
	height: 20px;
   padding: 11px;
   border-radius: 25px;
   border-style: none;
   background-color: #a1c1f0;
   position: relative;
   margin-right: -10px;
}
.menu5{
	border-style: hidden;
	border-radius: 0px 20px 20px 0px;
	padding: 9px;
	font-weight: bold;
	text-align: center;
	color: black;
	width: 110px;
	height: 45px;
	margin: -10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
}
.menu4:hover{
	background-color: #f2f2f2;
}
.menu5:hover{
	background-color: #f2f2f2;
	box-shadow: 10px 5px 5px #4e4848;
}
.menu6{
	display: flex;
}
.menu7{
	width: 20px;
	height: 20px;
   padding: 11px;
   border-radius: 25px;
   border-style: none;
   background-color: #a1c1f0;
   position: relative;
   margin-right: -10px;
}
.menu8{
	border-style: hidden;
	border-radius: 0px 20px 20px 0px;
	padding: 9px;
	font-weight: bold;
	text-align: center;
	color: black;
	width: 135px;
	height: 45px;
	margin: -10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
}
.menu7:hover{
	background-color: #f2f2f2;
}
.menu8:hover{
	background-color: #f2f2f2;
	box-shadow: 10px 5px 5px #4e4848;
}
.menu9{
	display: flex;
}
.menu10{
	width: 20px;
	height: 20px;
   padding: 11px;
   border-radius: 25px;
   border-style: none;
   background-color: #a1c1f0;
   position: relative;
   margin-right: -10px;
}
.menu11{
	border-style: hidden;
	border-radius: 0px 20px 20px 0px;
	padding: 9px;
	font-weight: bold;
	text-align: end;
	color: black;
	width: 170px;
	height: 45px;
	margin: -10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
}
.menu10:hover{
	background-color: #f2f2f2;
}
.menu11:hover{
	background-color: #f2f2f2;
	box-shadow: 10px 5px 5px #4e4848;
}
  
#main4{
	display: flex;
	align-items: center; 
	line-height: 50px;
}
.info{
	width: 8px;
	height: 8px;
   padding: 6px;
   border-radius: 25px;
   border: grey solid 1px;
   background-color: white; 
   margin: 10px;
}
.info2{
	font-size: small;
}
/* fin des filtres*/


 /*titre 1 */
 h2{
	 margin-bottom: 0px;
 }
 .ville{
	 margin: 0px;
	 font-size: 0.9em; 
 }
 /*barre de recherche */
 .main2{
	 display: flex;
 }
#map{
	border: solid 2px #f2f2f2;
	background-color: #f2f2f2;
	padding: 15px;
	margin-top: 20px;
	border-radius: 20% 0% 0% 20%;
	border-right: none;	
	width: 10px;
	height: auto;
}
.search{
	width: 240px;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
	border-left: none;
	border-right: none;
	border-style: none;
	border: solid 1px #f2f2f2;
}
.cherche{
	margin-top: 20px;
	width: 150px;
	border-left: none;
	border-color: #deebff;
	background-color: #0065fc;
	color: white;
	border-radius: 0 10px 10px 0;
	font-weight: bold;
}
.cherche:active{
	background-color: #deebff;
	color: black;
}

/* cadre des photos hebergement*/
.page2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.photo1{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	border: solid 1px #f2f2f2;
	border-radius: 2%;
	height: 550px;
	background-color: #f2f2f2;
	margin-left: 20px;
}
.lieu{
	grid-column: 1/3;
	grid-row: 1;
	margin: 20px;
}
.comment{
	margin-top: 10px;
}
.comment1{
	font-size: small;
	font-weight: bold;
	margin: 0;
	margin-left: 10px;
}
.comment2{
	font-size: small;
	font-style: italic;
	margin: 0;
	margin-left: 10px;
}
.lien1{
	text-decoration: none;
	color: black;
}
.lien2{
	text-decoration: none;
	color: black;
	margin-left: 20px;
	margin-top: 25px;
	float: left;	
}
.star{
	margin-left: 10px;
	margin-top: 10px;
}
.starb{
	width: 15px;
	height: auto;
}
.starg{
	width: 15px;
	height: auto;
}
.ph1{
	grid-column: 1;
	grid-row: 2;
	border-radius: 10%;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 3px;
	height: 190px;
}
.ph1bis{
	border-radius: 20px 20px 0px 0px;
	width: 230.66px;
	height: 100px;
}
.ph2{
	grid-column: 2;
	grid-row: 2;
	border-radius: 10%;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 3px;
	height: 190px;
	background-color: white;
}
.ph2bis{
	border-radius: 20px 20px 0px 0px;
	width: 230.66px;
	height: 100px;
}
.ph3{
	grid-column: 3;
	grid-row: 2;
	border-radius: 10%;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 3px;
	height: 190px;
	background-color: white;
}
.ph3bis{
	border-radius: 20px 20px 0px 0px;
	width: 230.66px;
	height: 100px;
}
.ph4{
	grid-column: 1;
	grid-row: 3;
	border-radius: 10%;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 3px;
	height: 190px;
	background-color: white;
}
.ph4bis{
	border-radius: 20px 20px 0px 0px;
	width: 230.66px;
	height: 100px;
}
.ph5{
	grid-column: 2;
	grid-row: 3;
	border-radius: 10%;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 3px;
	height: 190px;
	background-color: white;
}
.ph5bis{
	border-radius: 20px 20px 0px 0px;
	width: 230.66px;
	height: 100px;
}
.ph6{
	grid-column: 3;
	grid-row: 3;
	border-radius: 10%;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 3px;
	height: 190px;
	background-color: white;
}
.ph6bis{
	border-radius: 20px 20px 0px 0px;
	width: 230.66px;
	height: 100px;
}
.photo2{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(2, 1fr);
	border-radius: 2%;
	width: 386px;
	height: 550px;
	background-color: #f2f2f2;
	margin-left: 20px;
}
.pop{
	grid-column: 1/3;
	grid-row: 1;
	margin-left: 20px;
}
.chart{
	width: 25px;
	height: auto;
	grid-column: 2/3;
	grid-row: 1;
	margin-top: 20px;
	margin-left: 130px;
	
}
.commentbis{
	grid-column: 3/3;
	margin-left: 20px;
	margin-top: 10px;
}
.comment1bis{
	grid-column: 3/3;
	margin-right: 10px;
	margin-top: 10px;
}
.com1{
	font-size: small;
	font-weight: bold;
	margin: 0;
	margin-right: 20px;
}
.com2{
	font-size: small;
	font-style: italic;
	margin: 0;
}
.starbis{
	margin-top: 30px;	
}
.ph7{
	display: inline-grid;
	grid-column: 1/3;
	grid-row: 2;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	padding: 3px;
	height: 120px;
	width: 340px;
	background-color: white;
}
.ph8{
	display: inline-grid;
	grid-column: 1/3;
	grid-row: 3;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	padding: 3px;
	height: 120px;
	width: 340px;
	background-color: white;
}
.ph9{
	display: inline-grid;
	grid-column: 1/3;
	grid-row: 4;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	padding: 3px;
	height: 120px;
	width: 340px;
	background-color: white;	
}
.ph7, .ph8, .ph9{
	margin: 20px;
}
.ph7bis, .ph8bis, .ph9bis{
	width: 150px;
	height: 120px;
	border-radius: 20px 0px 0px 20px;
}
/* FIN DU CADRE PHOTO*/

/*debut du cadre Activité*/
.page3{
	margin-left: 20px;
	margin-top: 50px;
}
.groupe{
	display: grid;
	grid-template-columns: repeat(4, 2fr);
}
.lieu2{
	margin-bottom: 20px;
}
.gr1{
	margin-right: 50px;
	border: solid 1px #f2f2f2;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
}
.ph10{
	width: 268px;
	height: 380px;
	border-radius: 25px 25px 0px 0px;
}
.gr2{
	margin-right: 50px;
}
.gr2bis{
	border: solid 1px #f2f2f2;
	margin-bottom: 40px;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
}
.ph11{
	width: 268px;
	height: 140px;
	border-radius: 25px 25px 0px 0px;
}
.ph12{
	width: 268px;
	height: 140px;
	border-radius: 25px 25px 0px 0px;
}
.gr3bis{
	border: solid 1px #f2f2f2;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
}

.gr3{
	margin-right: 50px;
	border: solid 1px #f2f2f2;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
	border-radius: 25px;
}
.ph13{
	width: 268px;
	height: 380px;
	border-radius: 25px 25px 0px 0px;
}
.gr4{
	margin-right: 40px;
}
.gr4bis{
	border: solid 1px #f2f2f2;
	margin-bottom: 40px;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
}
.gr5bis{
	border: solid 1px #f2f2f2;
	border-radius: 25px;
	box-shadow: 10px 5px 5px rgb(165, 157, 157);
}
.ph14{
	width: 268px;
	height: 140px;
	border-radius: 25px 25px 0px 0px;
}
.ph15{
	width: 268px;
	height: 140px;
	border-radius: 25px 25px 0px 0px;
}
.lien{
	text-decoration: none;
	color: black;
	margin-left: 20px;
}
/* fin cadre Activité*/

/* debut Footer*/
footer{
	display: inline-flex;
	background-color: #f2f2f2;
	width: 100%;
	margin-top: 50px;
}
.assist{
	padding-left: 50px;
	margin-left: 230px;
}
.assist1{
	font-weight: bold;
	line-height: 50px;
}
.assist2{
	line-height: 15px;
	font-size: smaller;
}
.logement{
	padding-left: 50px;
	margin-left: 100px;
}
.logement1{
	font-weight: bold;
	line-height: 50px;
}
.logement2{
	line-height: 15px;
	font-size: smaller;
}
.propos{
	padding-right: 20px;
	padding-left: 50px;
	margin-right: 25px;
}
.propos1{
	font-weight: bold;
	line-height: 50px;
}
.propos2{
	line-height: 15px;
	font-size: smaller;
}
/* fin Footer*/


/* version mobile */
@media all and (max-width: 480px)
{

footer{
	display: block;
	position: absolute;
	top: 3900px;
	left: 0;
	padding-left: 30px;
}
.propos{
	margin: 0;
	padding: 0;
}
.logement{
	margin: 0;
	padding: 0;
}
.assist{
	margin: 0;
	padding: 0;
}
li{
	float: none;
}
ul{
	display: block;
	position: relative;
}
.li3{
	display: block;
	position: absolute;
	left: 190px;
	top: -50px;
}
.li1 {
	display: inline;
	position: absolute;
	top: 50px;
	left: 40px;	
}
.li2{
	position: absolute;
	left: 190px;
	top: 0;
}
.barre{
	width: 50%;
	border-bottom: #0065fc solid 2px;
	padding: 0;
	margin: -10px;
	margin-top: 0;
}
.barre2{
	width: 50%;
	border-bottom: #f2f2f2 solid 2px;
	padding: 0;
	margin-top: 8px;
	margin-left: 180px;
}
#un{
	color: #0065fc;
}
.main1{
	margin-top: -30px;
	text-align: center;
	width: min-content;
}
.main2{
width: 500px;
height: 70px;
margin: 0;
}
.search{
	width: 150px;
}
.cherche{
	width: 100px;
}
h3{
	line-height: 20px;
	line-break: loose;
	width: 300px;
	padding-top: 40px;	
}
.main3{
display: flex;
}
.filter{
	display: block;
	position: absolute;
	top: 280px;
	margin-top: 20px;
}
.menu{
	padding: 0;
	float: left;
	margin-left: -50px;
	margin-top: 20px;
}
.menu3{
	padding: 0;
	margin-top: 20px;
}
.menu6{
	position: absolute;
	padding: 0;
	margin-left: -50px;
	margin-top: 75px;
}
.menu9{
	position: absolute;
	padding: 0;
	margin-left: -50px;
	margin-top: 130px;
}
.info{
	margin-top: 120px;
}	
.info2{
	line-height: 20px;
	line-break: loose;
	width: 300px;
	margin-top: 120px;
}
.page2{
	display: block;
	width: min-content;
	height: min-content;
}
.photo1{
	display: block;
	position: absolute;
	top: 1120px;
	width: min-content;
	height: min-content;
	margin-left: -10px;
	background-color: white;
	border: none;
}
.ph1{
	width: 300px;
	height: auto;
	margin: 15px;
	padding: 0;
}
.ph1bis{
	width: 300px;
	height: 130px;
	object-fit: cover;
	object-position: center;
}
.ph2{
	width: 300px;
	height: auto;
	margin: 15px;
	padding: 0;
}
.ph2bis{
	width: 300px;
	height: 130px;
	object-fit: cover;
	object-position: center;
}
.ph3, .ph4, .ph5, .ph6{
	width: 300px;
	height: auto;
	margin: 15px;
	padding: 0;
}
.ph3bis, .ph4bis, .ph5bis, .ph6bis{
	width: 300px;
	height: 130px;
	object-fit: cover;
	object-position: center;
}
.lieu, .lieu2{
	font-size: 1em;
	margin: 0;
	margin-bottom: 10px;
	margin-left: 20px;	
}
.photo2{
	display: block;
	position: absolute;
	height: min-content;
	margin-left: -10px;	
	border-radius: 0%;
}
.chart{
	display: block;
	position: absolute;
	left: 190px;
	top: 0;
}
.starbis{
	margin-top: 20px;
}
.ph7{
	width: 300px;
	height: auto;
	margin-left: 20px;
}
.ph8{
	width: 300px;
	height: max-content;
	margin-left: 25px;
}
.com1, .com2{
	font-size: 0.7em;
	margin-left: 10px;
}
.starbis2{
	margin-left: 20px;
	margin-top: 20px;
}
.commentbis{
	margin-left: 0;
}
.ph9{
	width: 300px;
	height: max-content;
	margin-left: 25px;

}
.groupe{
	display: block;
	position: absolute;
	top: 2630px;
}
#activite{
	margin: 0;
	margin-left: -12px;
	padding: 0;
	display: block;
	position: absolute;
	top: 2560px;
	padding-top: 20px;
}

.ph10, .ph11, .ph12, .ph13, .ph14, .ph15{
	width: 300px;
	height: 130px;
	object-fit: cover;
	object-position: center;
}
.gr4bis, .gr5bis{
	margin-right: 10px;
}
.gr1{
	margin-bottom: 20px;
}
.gr2{
	margin-top: 30px;
}
.gr3{
	margin-bottom: 30px;
}
.gr2bis, .gr3bis{
	margin-bottom: 30px;
}
.gr4bis{
	margin-bottom: 30px;
}

}


























  

 
  
