body
{
	color: #d4d0d4;
	background-image: url(fond1.jpeg);
}
h1, h2
{
	text-align: center;
	border: 2px white solid;
	box-shadow: 4px 4px 2px white;
}
img
{
	float: right;
	border: 1px solid white;
	box-shadow: 2px 2px 2px white;
}

section
{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 2%;
}


