h1
{
	color: #ffffff;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}
.container {
	border: 2px solid white;
	width: 1230px;
}
.row {
	border: 2px solid white;
}

@media (min-width: 1200px) {
	.container {
		width: 1230px;
	}
}

.pink {
	background-color: #f5989d;
}

.blue {
	background-color: #615f7d;
}

.green {
	background-color: #09a298;
}